/php/properties.php
/php/files/*.xlsx
/php/*.pdf
/php/s/*
/php/test_ldap.php
/php/sent_mail_update_pwd.php
/php/sent_mail.php
/php/sent_mail_old.php
/php/docs/gestion/*
/php/docs/foncier/autres/*
/php/docs/foncier/*
robots.txt
/errors/error.php
.htaccess
/export/.htaccess
/export/*.gpkg
/export/*
!signatures/out/.htaccess
/signatures/out/*.htm
php/test_ldap.php

