/php/properties.php
/php/files/*
/php/sent_mail_update_pwd__.php
/php/sent_mail.php
/php/sent_mail_old.php
/php/docs/gestion/*
/php/docs/foncier/autres/*
/php/docs/foncier/*
robots.txt
/errors/error.php
.htaccess